<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Money</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'NinjaGold_app/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <p>Your Gold</p> 
    <p>{{request.session.gold}}</pS>
    <form action="/reset">
        {% csrf_token %}
        <a href="/reset"><input type="submit" value="reset"/></a>
    </form>
    <form class = "form" action="/process" method="post">
        {% csrf_token %}
        <h4>Farm</h4>
        <p>(earns 10-20 golds)</p>
        <input type="hidden" name="building" value="farm" />
        <input type="submit" value="Find Gold!"/>
    </form>
    <form class = "form" action="/process" method="post">
        {% csrf_token %}
        <h4>Cave</h4>
        <p>(earns 5-10 golds)</p>
        <input type="hidden" name="building" value="cave" />
        <input type="submit" value="Find Gold!"/>
    </form>
    <form class = "form" action="/process" method="post">
        {% csrf_token %}
        <h4>House</h4>
        <p>(earns 2-5 golds)</p>
        <input type="hidden" name="building" value="house" />
        <input type="submit" value="Find Gold!"/>
    </form>
    <form class = "form" action="/process" method="post">
        {% csrf_token %}
        <h4>Casino</h4>
        <p>(earns/takes 0-50 golds)</p>
        <input type="hidden" name="building" value="casino" />
        <input type="submit" value="Find Gold!"/>
    </form>
    <p>Activities:</p>
    <div id="act">
        {% for product in request.session.activities %}
            <p>{{product.display}}</p>
        {% endfor %}
    </div>
</body>
</html>