<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Thank you for your business!</h1>
        <p>We charged your credit card for ${{request.session.sum}}.</p>
        <p>You have ordered {{request.session.quantity}} items so far and spent ${{request.session.total}} with Amadon.com!</p>
    </div>
</body>
</html>