<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Great Number Game</title>
</head>
<body>
    <h1>Welcome to the Great Number Game!</h1>
    <p>I am thinking of a number between 1 and 100</p>
    <p>Take a guess!</p>
    <div id = "res">
        <h1>{{session['result']}}</h1>
    </div>
    <form action="/guess" method="POST">
        <input type="number" name='number'>
        <input type="submit" value='submit'>
    </form>
</body>
</html>