<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Money</title>
</head>
<style>
    .form{
        width: 170px;
        display: inline-block; 
        border: 1px solid black;
        margin: 20px;
    }
    #act{
        width: 890px;
        height: 500px;
        border: 1px solid black;
        overflow: scroll;
    }
</style>
<body>
    <p>Your Gold</p> 
    <p>{{session['gold']}}</p>
    <form action="/reset">
        <input type="submit" value="reset"/>
    </form>
    <form class = "form" action="/process_money" method="post">
        <h4>Farm</h4>
        <p>(earns 10-20 golds)</p>
        <input type="hidden" name="building" value="farm" />
        <input type="submit" value="Find Gold!"/>
    </form>
    <form class = "form" action="/process_money" method="post">
        <h4>Cave</h4>
        <p>(earns 5-10 golds)</p>
        <input type="hidden" name="building" value="cave" />
        <input type="submit" value="Find Gold!"/>
    </form>
    <form class = "form" action="/process_money" method="post">
        <h4>House</h4>
        <p>(earns 2-5 golds)</p>
        <input type="hidden" name="building" value="house" />
        <input type="submit" value="Find Gold!"/>
    </form>
    <form class = "form" action="/process_money" method="post">
        <h4>Casino</h4>
        <p>(earns/takes 0-50 golds)</p>
        <input type="hidden" name="building" value="casino" />
        <input type="submit" value="Find Gold!"/>
    </form>
    <p>Activities:</p>
    <div id="act">
        {% for i in session['activities'] %}
            <p>{{i}}</p>
        {% endfor %}
    </div>
</body>
</html>