<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Users</h1>
    <table>
        <thead>
            <tr>
                <td>id</td>
                <td>Full Name</td>
                <td>Email</td>
                <td>Created at</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for user in users %} 
                <tr>
                    <td>{{user.id}}</td>
                    <td><a href="/users/{{user.id}}">{{user.full_name}}</a></td>
                    <td>{{user.email}}</td>
                    <td>{{user.created_at}}</td>
                    <td><a href="/users/{{user.id}}">Show</a> <a href="/users/{{user.id}}/edit">Edit</a> <a href="/users/{{user.id}}/destroy">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/users/new"><p>Add a new user</p></a>
</body>
</html>