<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courses</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Courses_app/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div id="wrapper">
        <div id="add">
            <h1>Add a new course</h1>
            <form action="/courses/add" method="post">
                {% csrf_token %}
                <p>Name:</p> <p><input type="text" name="name"></p>
                <p>Description:</p> <p><textarea name="description" rows="10" cols="40"></textarea></p>
                <p><input type="submit" value="Add"></p>
            </form> 
            {% if messages %}
            <ul >
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %} 
        </div>
        <div id = "display">
            <table>
                <thead>
                    <tr>
                        <td>Name of the Course</td>
                        <td>Description</td>
                        <td>Created at</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %} 
                    <tr>
                        <td>{{course.name}}</td>
                        <td>{{course.description}}</td>
                        <td>{{course.created_at}}</td>
                        <td><a href="/courses/destroy/{{course.id}}">remove</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>