<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>remove</title>

</head>
<body>
    <h1>Are you sure you want to delete the following course?</h1>
    <p>Name : {{courses.name}}</p>
    <p>Description : {{courses.description}}</p>
    <p><a href="/">No</a>  <a href="/courses/delete/{{courses.id}}">Yes! I want to delete this</a></p>
</body>
</html>