<html>
<head>
  <title>success page</title>
</head>
<style>
    div{
    border: 2px solid black;
      background-color: green;
      color: white;
      width: 400px;
      padding: 10px;
    }
</style>
<body>
    <div>
        <p>The email address you entered ({{email}}) <br>
            is a VALID email address! Thank You!
        </p>
    </div>
    <table>
        <thead>
            <tr>
            <th>Email Address Entered</th>
            <th>Entered on:</th>
            </tr>
        </thead>
        <tbody>
            {% for email in all_emails: %}
            <tr>
            <td>{{ email['email'] }}</td>
            <td>{{ email['created_at'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>